header{
    background-color: blanchedalmond;
}

.pequenoprincipe{
    display: flex;
    justify-content: flex-start;
}
.texto{
    display: flex;
    text-justify: distribute;
    text-align: center;
    
}